@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>This application and all its content are for learning and practice purposes only.</p>
<p>It is not intended for commercial purposes or for use in production.</p>

