@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the @ViewData["AppName"]</h1>
    <p>It building Web apps with ASP.NET Core.</p>
    <p>Clink in the <a href="/Todos">Todo List</a> to manage the tasks to do.</p>
    <br><br>
    <p><a href="/About">See more about.</a></p> .</p>
</div>
